body{
    background-color:#d1dedd;
}
/* img{
    width: 100%;
    max-height: 50%;
} */
p{
    color: rgb(62, 3, 54);
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
}
h3{
    color:#5a5759
}
.ruch1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;
    max-width: 1200px;
    margin:20px auto;
}
article img{
    max-width: 100%;
    max-height: 80%;
    border: 2px solid white;
    border-radius: 8px;

}
.ani:hover{
    opacity: .6;
}
h1{
    position: relative;
    font-size:4vw;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    
}
h3{
    font-size: 30px;
    font-family: 'Cormorant Garamond', serif;;
}
.ruch2{
    position: relative;
}
.over{
    position: absolute;
    /* top: 3em;
    left: 4em; */
}
